.btnwrapper{
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}


td a{
    text-decoration: none;
    cursor: pointer;
}

.imgwrapper{
  width: 250px;
  height: 53vh;
  box-shadow: 1px 1px 6px rgba(186, 174, 174, 0.6);
  margin-right: 40px;
}

.imgcontainer{
  border: 1px solid black;
  width: 100%;
  height: 230px;
  margin-bottom: 20px;
  overflow: hidden;
}

.imgcontainer img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.info{
  margin-left: 50px;
}
.viewwrapper{
  display: flex;
  flex-direction: row;
  
}